.main-footer {
    padding-top: 200px;
    
    background-color: hsl(192, 100%, 9%);
}

.icon-phone {
    width: 24px;
}

/*.icon-location {
    
}
*/



.links a{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    margin-top: 35px;
}