.header-button {
    font-family: 'Open Sans' , sans-serif;
    font-weight: 700;
    padding: 16px 70px;
    text-decoration: none;
    color: #000;
    box-shadow: 2px 2px 30px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}

.second-button {
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 16px 60px;
    background-color: hsl(322, 100%, 66%);
    
    border-radius: 50px;
}